{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": "defaults"
        },
        "loose": false,
        "modules": false
      }
    ]
  ],
  "plugins": ["babel-plugin-transform-class-properties", "react-hot-loader/babel"]
}
