{
  'extends': 'stylelint-config-recommended',
  'plugins': ['stylelint-no-unsupported-browser-features'],
    'rules': {
      'plugin/no-unsupported-browser-features': [
        true,
        {
          'browsers': ['defaults'],
          'ignore': ['rem', 'css-table', 'css-appearance', 'outline', 'transforms2d', 'viewport-units', 'border-radius', 'calc'],
          'severity': 'warning'
        }
      ]
    }
}