:root {
  --font-helvetica: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
    sans-serif;
  --font-multicolore: 'multicolore', var(--font-helvetica);
  --font-varela: 'Varela Round', var(--font-multicolore);
  --font-size: 1rem;

  --green: #46bf5c;
  --grey: #f8f9fa;
  --red: #dc3a35;
  --white: #ffffff;
  --black: #495056;
  --black-lighter: #636364;
  --black-darker: #343a40;
  --blue: #75c4fa;
  --blue-2: #4dadf7;
  --blue-darker: #3090e5;
  --blue-ligher: #e9f7ff;
  --orange: #fd7e14;
  --orange-lighter: #f8bd4e;
  --orange-darker: #dd6546;
  --purple: #8e85e5;
  --pink: #f584ac;
  --yellow: #fedf6f;
  --yellow-lighter: #fff9dd;
  --yellow-darker: #f9b939;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

html {
  font-size: 14px;
}

body {
  font-family: var(--font-helvetica);
}

.container {
  padding: 0 5%;
  position: relative;
  width: 100%;
  height: 100%;
}

@media (--extra-small-1) {
  html {
    font-size: 12px;
  }
}

@media (--small-1) {
  html {
    font-size: 14px;
  }
}

@media (--small-2) {
  html {
    font-size: 15px;
  }
}

@media (--medium-1) {
  html {
    font-size: 16px;
  }
}

@media (--large-1) {
  html {
    font-size: 18px;
  }
}

@media (--extra-large-1) {
  html {
    font-size: 20px;
  }
}

@media (--extra-large-2) {
  html {
    font-size: 22px;
  }
}

@media (--extra-large-3) {
  html {
    font-size: 24px;
  }
}

@media (--extra-large-4) {
  html {
    font-size: 26px;
  }
}

@media (--extra-large-5) {
  html {
    font-size: 28px;
  }
}

@media (--extra-large-6) {
  html {
    font-size: 30px;
  }
}

@media (--extra-large-7) {
  html {
    font-size: 32px;
  }
}
