/* stylelint-disable */
.illustration__douty {
  background-image: url('../imgs/douty.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 100%;
}

.illustration__douty__full {
  background-image: url('../imgs/douty-full.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100%;
}

.illustration__overlay {
  background-image: url('../imgs/overlay.svg');
  background-size: 105%;
  background-repeat: repeat;
  background-position: center center;
}

@media (--phone-breakpoint) {
  .illustration__overlay {
    background-size: 60%;
  }
}
/* stylelint-enable */
