.hero__container {
  font-family: var(--font-varela);
  height: 100vh;
}

.hero__heading {
  padding-top: 2.5%;
  position: relative;
}

.hero__title {
  font-size: calc(var(--font-size) * 4);
  margin: 0;
  margin-bottom: 0.5rem;

  & a {
    color: var(--black);
    text-decoration: none;
  }
}

.hero__subtitle {
  font-family: var(--font-helvetica);
  font-size: calc(var(--font-size) * 1.5);
  margin: 0;
  margin-bottom: 3rem;
}

.hero__overlay {
  height: 80vh;
}

.hero__douty {
  position: absolute;
  bottom: 0;
  right: 5%;
  width: 20rem;
  height: 20rem;
  transform-origin: right;
  transform: scale(1.2, 1);
}

.hero__nav {
  padding-top: 5%;
  padding-right: 5%;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: right;
}

.hero__nav__item {
  display: inline;
  margin-left: 0.6rem;
}
